{% extends "layout_new.html" %}
{% block title %}{{ _('إضافة تصنيف رئيسي') }}{% endblock %}

{% block content %}

<h2 class="mb-4">{{ _('إضافة تصنيف رئيسي') }}</h2>

<form method="POST" class="card p-4 shadow-sm" style="max-width: 400px;">


    <div class="mb-3">
        <label class="form-label">{{ _('اسم التصنيف') }}</label>
        <input type="text" name="name" class="form-control" required>
    </div>
        <div class="mb-3">
        <label class="form-label">{{ _('اسم التصنيف (تركي)') }}</label>
        <input type="text" name="name_tr" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Code Prefix</label>
        <input type="text"
                name="code_prefix"
                class="form-control"
                placeholder="مثال: ELE"
                maxlength="5"
                style="text-transform: uppercase;"
                required>
    </div>

    <button class="btn btn-primary w-100">
        {{ _('حفظ') }}
    </button>

</form>

{% endblock %}
